In [30]:
import pandas as pd
import numpy as  np
from word2number import w2n

In [31]:
df = pd.read_csv(r"E:\Study\Data Sets\dirty_ecommerce_dataset.csv")

In [32]:
df.head(10)

,order_id,customer_name,customer_email,order_date,ship_date,delivery_status,product_id,product_name,category,quantity,price,discount,payment_method,payment_status,country,city,postal_code,phone_number,review_rating,comments
0,ORD-2824,Allison Hill,jillrhodes@miller.com,2023-10-19,NaN,Delivered,PRD-40495,Mouth play,Books,0,296.69,0.0,PayPal,Failed,Anguilla,Lake Debra,71927,(379)402-6542x35116,3,Grow gas enough analysis.
1,ORD-7201,Calvin Nielsen,maria95@lee.com,2023-06-22,NaN,deliveRed,PRD-20458,Top early,Fashoin,0,180.86,NaN,paypal,Refund,Tonga,South Joshuastad,21820,(534)192-8327x648,five,NaN
2,ORD-1525,Derek Clark,dianafoster@hotmail.com,2024-04-12,2023-08-10,deliverd,PRD-44718,Evidence chair,Toys,4,113.56,20.0,creditcard,Paid,Egypt,Juliechester,76985,(532)871-0122x6916,3,NaN
3,ORD-2876,Stephen Potter,cartereric@gmail.com,2021/14/01,2024-11-02,deliverd,PRD-75612,Type serve,Fashion,3,103.46,5.0,creditcard,Paid,Estonia,New Rita,82460,893-252-8809x5701,2,NaN
4,ORD-8962,John Jones,donnaarroyo@baker.biz,2023-10-03,NaN,Pending,PRD-37760,Woman notice,Books,4,221.86,0.0,Credit Card,payed,Saudi Arabia,NaN,88540,NaN,NaN,NaN
5,ORD-4510,Jessica Holmes,jeffreymorgan@spencer.com,2023-10-16,2023-06-13,deliverd,PRD-65519,Western almost,Electronics,0,172.95,5.0,Gift Card,Refunded,Tokelau,Chadbury,37001,+1-738-299-7376x31165,five,In tell approach president position art.
6,ORD-4872,Rebecca Rodriguez,amandataylor@ramirez.com,2021/14/01,2024-03-31,deliveRed,PRD-47388,System training,Electronnics,3,369.19,10.0,Gift Card,payed,Togo,North Deniseside,02435,326-773-6026,1,World enter six.
7,ORD-1651,Jay Bernard,jamesrobinson@gmail.com,2024-07-14,2024-11-13,Returned,PRD-94607,Occur ask,NaN,-1,41.26,10.0,Bank Transfer,Pending,San Marino,Brianshire,62994,820.812.1913x61939,1,Always bank price north first end prove fire.
8,ORD-2697,Carlos Brewer,sarah10@yahoo.com,2024-08-16,2024-07-02,In Transit,PRD-44600,Black back,Electronics,4,ten dollars,5.0,Bank Transfer,Refunded,Martinique,NaN,46246,354-278-4980,NaN,Federal professional voice care break blood ne...
9,ORD-1685,Larry Robbins,william40@walters.com,2023-04-24,2024-01-06,deliveRed,PRD-63264,Spend case,Books,three,17.27,10.0,Cash on Delivery,Refund,Northern Mariana Islands,Evanmouth,72810,001-680-112-8059x826,NaN,NaN

In [33]:
df_columns = list(df.columns)
print(",". join(df_columns))

order_id,customer_name,customer_email,order_date,ship_date,delivery_status,product_id,product_name,category,quantity,price,discount,payment_method,payment_status,country,city,postal_code,phone_number,review_rating,comments

In [34]:
df = df.drop(['customer_name','customer_email','phone_number','comments'], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         2027 non-null   object
 1   order_date       2007 non-null   object
 2   ship_date        1554 non-null   object
 3   delivery_status  1992 non-null   object
 4   product_id       2032 non-null   object
 5   product_name     2006 non-null   object
 6   category         2014 non-null   object
 7   quantity         1966 non-null   object
 8   price            1988 non-null   object
 9   discount         1438 non-null   float64
 10  payment_method   1963 non-null   object
 11  payment_status   1970 non-null   object
 12  country          2006 non-null   object
 13  city             1987 non-null   object
 14  postal_code      1983 non-null   object
 15  review_rating    1378 non-null   object
dtypes: float64(1), object(15)
memory usage: 256.4+ KB

In [35]:
def w2n_fix(x):
    try:
        return w2n.word_to_num(x)
    except:
        return x

In [36]:
df['price'] = df['price'].apply(lambda x: w2n_fix(x) if isinstance (x, str) else x)
df['quantity'] = df['quantity'].apply(lambda x: w2n_fix(x) if isinstance (x, str) else x)
df['review_rating'] = df['review_rating'].apply(lambda x: w2n_fix(x) if isinstance (x, str) else x)

In [37]:
df.head(10)

,order_id,order_date,ship_date,delivery_status,product_id,product_name,category,quantity,price,discount,payment_method,payment_status,country,city,postal_code,review_rating
0,ORD-2824,2023-10-19,NaN,Delivered,PRD-40495,Mouth play,Books,0,296.69,0.0,PayPal,Failed,Anguilla,Lake Debra,71927,3.0
1,ORD-7201,2023-06-22,NaN,deliveRed,PRD-20458,Top early,Fashoin,0,180.86,NaN,paypal,Refund,Tonga,South Joshuastad,21820,5.0
2,ORD-1525,2024-04-12,2023-08-10,deliverd,PRD-44718,Evidence chair,Toys,4,113.56,20.0,creditcard,Paid,Egypt,Juliechester,76985,3.0
3,ORD-2876,2021/14/01,2024-11-02,deliverd,PRD-75612,Type serve,Fashion,3,103.46,5.0,creditcard,Paid,Estonia,New Rita,82460,2.0
4,ORD-8962,2023-10-03,NaN,Pending,PRD-37760,Woman notice,Books,4,221.86,0.0,Credit Card,payed,Saudi Arabia,NaN,88540,NaN
5,ORD-4510,2023-10-16,2023-06-13,deliverd,PRD-65519,Western almost,Electronics,0,172.95,5.0,Gift Card,Refunded,Tokelau,Chadbury,37001,5.0
6,ORD-4872,2021/14/01,2024-03-31,deliveRed,PRD-47388,System training,Electronnics,3,369.19,10.0,Gift Card,payed,Togo,North Deniseside,02435,1.0
7,ORD-1651,2024-07-14,2024-11-13,Returned,PRD-94607,Occur ask,NaN,-1,41.26,10.0,Bank Transfer,Pending,San Marino,Brianshire,62994,1.0
8,ORD-2697,2024-08-16,2024-07-02,In Transit,PRD-44600,Black back,Electronics,4,10,5.0,Bank Transfer,Refunded,Martinique,NaN,46246,NaN
9,ORD-1685,2023-04-24,2024-01-06,deliveRed,PRD-63264,Spend case,Books,3,17.27,10.0,Cash on Delivery,Refund,Northern Mariana Islands,Evanmouth,72810,NaN

In [38]:
df['price'] = df['price'].astype(float)
df['quantity'] = df['quantity'].astype(float)
df['review_rating'] = df['review_rating'].astype(float)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         2027 non-null   object
 1   order_date       2007 non-null   object
 2   ship_date        1554 non-null   object
 3   delivery_status  1992 non-null   object
 4   product_id       2032 non-null   object
 5   product_name     2006 non-null   object
 6   category         2014 non-null   object
 7   quantity         1966 non-null   float64
 8   price            1988 non-null   float64
 9   discount         1438 non-null   float64
 10  payment_method   1963 non-null   object
 11  payment_status   1970 non-null   object
 12  country          2006 non-null   object
 13  city             1987 non-null   object
 14  postal_code      1983 non-null   object
 15  review_rating    1378 non-null   float64
dtypes: float64(4), object(12)
memory usage: 256.4+ KB

In [40]:
df.duplicated().sum()

np.int64(50)

In [41]:
#dropping dupilcates
df.drop_duplicates(inplace = True)

In [42]:
#dropping duplicates of unique value columns
df.drop_duplicates("order_id", inplace = True)

In [43]:
#Dropping missing values of unique columns
df.dropna(subset = ["order_id"], inplace = True )

In [44]:
#checking missing values
df['order_id'].isna().sum()

np.int64(0)

In [45]:

df.head(10)

,order_id,order_date,ship_date,delivery_status,product_id,product_name,category,quantity,price,discount,payment_method,payment_status,country,city,postal_code,review_rating
0,ORD-2824,2023-10-19,NaN,Delivered,PRD-40495,Mouth play,Books,0.0,296.69,0.0,PayPal,Failed,Anguilla,Lake Debra,71927,3.0
1,ORD-7201,2023-06-22,NaN,deliveRed,PRD-20458,Top early,Fashoin,0.0,180.86,NaN,paypal,Refund,Tonga,South Joshuastad,21820,5.0
2,ORD-1525,2024-04-12,2023-08-10,deliverd,PRD-44718,Evidence chair,Toys,4.0,113.56,20.0,creditcard,Paid,Egypt,Juliechester,76985,3.0
3,ORD-2876,2021/14/01,2024-11-02,deliverd,PRD-75612,Type serve,Fashion,3.0,103.46,5.0,creditcard,Paid,Estonia,New Rita,82460,2.0
4,ORD-8962,2023-10-03,NaN,Pending,PRD-37760,Woman notice,Books,4.0,221.86,0.0,Credit Card,payed,Saudi Arabia,NaN,88540,NaN
5,ORD-4510,2023-10-16,2023-06-13,deliverd,PRD-65519,Western almost,Electronics,0.0,172.95,5.0,Gift Card,Refunded,Tokelau,Chadbury,37001,5.0
6,ORD-4872,2021/14/01,2024-03-31,deliveRed,PRD-47388,System training,Electronnics,3.0,369.19,10.0,Gift Card,payed,Togo,North Deniseside,02435,1.0
7,ORD-1651,2024-07-14,2024-11-13,Returned,PRD-94607,Occur ask,NaN,-1.0,41.26,10.0,Bank Transfer,Pending,San Marino,Brianshire,62994,1.0
8,ORD-2697,2024-08-16,2024-07-02,In Transit,PRD-44600,Black back,Electronics,4.0,10.00,5.0,Bank Transfer,Refunded,Martinique,NaN,46246,NaN
9,ORD-1685,2023-04-24,2024-01-06,deliveRed,PRD-63264,Spend case,Books,3.0,17.27,10.0,Cash on Delivery,Refund,Northern Mariana Islands,Evanmouth,72810,NaN

In [46]:
mask_wrong_format = df["order_date"].str.contains("/", na=False)
df.loc[mask_wrong_format, "order_date"]

3       2021/14/01
6       2021/14/01
10      2021/14/01
19      2021/14/01
44      2021/14/01
           ...
1986    2021/14/01
1988    2021/14/01
1989    2021/14/01
1996    2021/14/01
1997    2021/14/01
Name: order_date, Length: 383, dtype: object

In [47]:
#two ways to fix it
df['order_date'] = df['order_date'].str.replace("/", "-")

In [48]:
df['order_date'] = pd.to_datetime(df["order_date"], format = "mixed", dayfirst = True)

In [49]:
df.head(10)

,order_id,order_date,ship_date,delivery_status,product_id,product_name,category,quantity,price,discount,payment_method,payment_status,country,city,postal_code,review_rating
0,ORD-2824,2023-10-19,NaN,Delivered,PRD-40495,Mouth play,Books,0.0,296.69,0.0,PayPal,Failed,Anguilla,Lake Debra,71927,3.0
1,ORD-7201,2023-06-22,NaN,deliveRed,PRD-20458,Top early,Fashoin,0.0,180.86,NaN,paypal,Refund,Tonga,South Joshuastad,21820,5.0
2,ORD-1525,2024-04-12,2023-08-10,deliverd,PRD-44718,Evidence chair,Toys,4.0,113.56,20.0,creditcard,Paid,Egypt,Juliechester,76985,3.0
3,ORD-2876,2021-01-14,2024-11-02,deliverd,PRD-75612,Type serve,Fashion,3.0,103.46,5.0,creditcard,Paid,Estonia,New Rita,82460,2.0
4,ORD-8962,2023-10-03,NaN,Pending,PRD-37760,Woman notice,Books,4.0,221.86,0.0,Credit Card,payed,Saudi Arabia,NaN,88540,NaN
5,ORD-4510,2023-10-16,2023-06-13,deliverd,PRD-65519,Western almost,Electronics,0.0,172.95,5.0,Gift Card,Refunded,Tokelau,Chadbury,37001,5.0
6,ORD-4872,2021-01-14,2024-03-31,deliveRed,PRD-47388,System training,Electronnics,3.0,369.19,10.0,Gift Card,payed,Togo,North Deniseside,02435,1.0
7,ORD-1651,2024-07-14,2024-11-13,Returned,PRD-94607,Occur ask,NaN,-1.0,41.26,10.0,Bank Transfer,Pending,San Marino,Brianshire,62994,1.0
8,ORD-2697,2024-08-16,2024-07-02,In Transit,PRD-44600,Black back,Electronics,4.0,10.00,5.0,Bank Transfer,Refunded,Martinique,NaN,46246,NaN
9,ORD-1685,2023-04-24,2024-01-06,deliveRed,PRD-63264,Spend case,Books,3.0,17.27,10.0,Cash on Delivery,Refund,Northern Mariana Islands,Evanmouth,72810,NaN

In [50]:
df["ship_date"] = pd.to_datetime(df["ship_date"], format = "mixed", dayfirst = True)

In [51]:
df.head(10)

,order_id,order_date,ship_date,delivery_status,product_id,product_name,category,quantity,price,discount,payment_method,payment_status,country,city,postal_code,review_rating
0,ORD-2824,2023-10-19,NaT,Delivered,PRD-40495,Mouth play,Books,0.0,296.69,0.0,PayPal,Failed,Anguilla,Lake Debra,71927,3.0
1,ORD-7201,2023-06-22,NaT,deliveRed,PRD-20458,Top early,Fashoin,0.0,180.86,NaN,paypal,Refund,Tonga,South Joshuastad,21820,5.0
2,ORD-1525,2024-04-12,2023-08-10,deliverd,PRD-44718,Evidence chair,Toys,4.0,113.56,20.0,creditcard,Paid,Egypt,Juliechester,76985,3.0
3,ORD-2876,2021-01-14,2024-11-02,deliverd,PRD-75612,Type serve,Fashion,3.0,103.46,5.0,creditcard,Paid,Estonia,New Rita,82460,2.0
4,ORD-8962,2023-10-03,NaT,Pending,PRD-37760,Woman notice,Books,4.0,221.86,0.0,Credit Card,payed,Saudi Arabia,NaN,88540,NaN
5,ORD-4510,2023-10-16,2023-06-13,deliverd,PRD-65519,Western almost,Electronics,0.0,172.95,5.0,Gift Card,Refunded,Tokelau,Chadbury,37001,5.0
6,ORD-4872,2021-01-14,2024-03-31,deliveRed,PRD-47388,System training,Electronnics,3.0,369.19,10.0,Gift Card,payed,Togo,North Deniseside,02435,1.0
7,ORD-1651,2024-07-14,2024-11-13,Returned,PRD-94607,Occur ask,NaN,-1.0,41.26,10.0,Bank Transfer,Pending,San Marino,Brianshire,62994,1.0
8,ORD-2697,2024-08-16,2024-07-02,In Transit,PRD-44600,Black back,Electronics,4.0,10.00,5.0,Bank Transfer,Refunded,Martinique,NaN,46246,NaN
9,ORD-1685,2023-04-24,2024-01-06,deliveRed,PRD-63264,Spend case,Books,3.0,17.27,10.0,Cash on Delivery,Refund,Northern Mariana Islands,Evanmouth,72810,NaN

In [52]:
df["delivery_status"].isna().sum()

np.int64(47)

In [53]:
df.loc[df["delivery_status"].isna(), "delivery_status"]

30      NaN
119     NaN
131     NaN
272     NaN
339     NaN
375     NaN
387     NaN
445     NaN
560     NaN
584     NaN
592     NaN
639     NaN
653     NaN
682     NaN
694     NaN
771     NaN
802     NaN
821     NaN
877     NaN
887     NaN
902     NaN
924     NaN
962     NaN
971     NaN
1043    NaN
1045    NaN
1077    NaN
1132    NaN
1153    NaN
1197    NaN
1281    NaN
1337    NaN
1405    NaN
1501    NaN
1539    NaN
1548    NaN
1561    NaN
1586    NaN
1606    NaN
1635    NaN
1662    NaN
1770    NaN
1802    NaN
1951    NaN
1953    NaN
1958    NaN
1989    NaN
Name: delivery_status, dtype: object

In [54]:
#filling delivery_status with mode for now
df["delivery_status"].fillna(df["delivery_status"].mode()[0], inplace = True)

C:\Users\Usman\AppData\Local\Temp\ipykernel_14104\2338300021.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["delivery_status"].fillna(df["delivery_status"].mode()[0], inplace = True)

In [55]:
df["delivery_status"].mode()[0]

'deliveRed'

In [56]:
df["delivery_status"].isna().sum()

np.int64(0)